.select {
  .react-select__control,
  .react-select__control--is-focused {
    border: 1px solid #bdbfc355;
    box-shadow: none;
    appearance: none;
    outline: none;

    &:hover {
      border: 1px solid #bdbfc355;
    }
  }
  .react-select__placeholder {
    color: #979797;
  }
}

.ql-container {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #BDBFC355 !important;
  background: #ffffff;
}

/* Snow Theme */
.ql-snow.ql-toolbar {
  display: block;
  border: 1px solid #BDBFC355 !important;
  border-bottom: 0 !important;
  background: #F9F9F9;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.ql-editor {
  min-height: 120px;
}
